extends ../templates/main

block header
  include ../includes/header
  :markdown
    ## Jade+Stylus+Grunt = amazing.

prepend endScripts
  a.github(href="https://github.com/simshanith/simshanith.github.io")
    img(src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
      alt="Fork me on GitHub")

block mainContent
  p
    button#theme Switch to Light
  :markdown
    Node.JS provides a powerful platform for programming the generation of static HTML files.
    This site is the result of an example build system.

    #### [Source Code Birds-eye](./docs/source-code/)

  #features
    h3 Features
    #current
      | 
      != includeMarkdown('src/markup/htdocs/docs/features.markdown')
      | 

    #planned
      | 
      != includeMarkdown('src/markup/htdocs/docs/addendum.markdown')
      | 