extends ../templates/main

block header
  include ../includes/header
  :markdown
    ## Jade+Stylus+Grunt = amazing.

block mainContent
  p
    button#theme Switch to Light
  :markdown
    Node.JS provides a powerful platform for programming the generation of static HTML files.
    This site is the result of an example build system.

    #### [Source Code Birds-eye](./docs/source-code/)

  #features
    h3 Features
    #current
      +includeMarkdown('src/markup/htdocs/docs/features.markdown')

    #planned
      +includeMarkdown('src/markup/htdocs/docs/addendum.markdown') 