@import "fluidity"

@import "solarized"

pageMinWidth = 480px

body
	min-width pageMinWidth
	position relative

#wrapper
	grid(60%, pageMinWidth)




#footer
	text-align center

a.github
	position absolute
	right 0
	top 0